<!DOCTYPE HTML>
<html>
<head>
<title>Augment an Admin Panel Category Flat Bootstrap Responsive Web Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="/assets/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/assets/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/assets/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="/assets/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="/assets/jquery-1.10.2.min.js"></script>
<!--clock init-->
</head> 
<body>
                <!--/login-->
                
                     <div class="error_page">
                        <!--/login-top-->
                        
                          <div class="error-top">
                          <h2 class="inner-tittle page">Vishwa Consultancy</h2>
                              <div class="login">
                            <h3 class="inner-tittle t-inner">Sign Up</h3>
                               
                               <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                      <%= devise_error_messages! %>

                                      <div class="field">
                                        <%= f.label :email %><br />
                                        <%= f.email_field :email, autofocus: true,placeholder: "Enter Email", class: "form-control" %>
                                      </div>

                                      <div class="field">
                                        <%= f.label :password %>
                                        <% if @minimum_password_length %>
                                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                                        <% end %><br />
                                        <%= f.password_field :password, autocomplete: "off",placeholder: "Enter Password", class: "form-control" %>
                                      </div>

                                      <div class="field">
                                        <%= f.label :password_confirmation %><br />
                                        <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirm Password", class: "form-control" %>
                                      </div>

                                      <div class="actions">
                                        <%= f.submit "Sign up" %>
                                      </div>
                                    <% end %>

                                    <div class="new">
                                     Do not have an account ? 
                                              <%= render "devise/shared/links" %>
                                            
                                      <div class="clearfix"></div>
                                    </div>
                            </div>

                            
                          </div>
                          
                          
                        <!--//login-top-->
                       </div>
            
                        <!--//login-->
                        <!--footer section start-->
                    <div class="footer">
                       
                       <p>&copy 2016 QSET . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">QSEt.</a></p>
                    </div>
                  <!--footer section end-->
                  <!--/404-->
<!--js -->
<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="/assets/bootstrap.min.js"></script>
</body>
</html>