 <div class="panel panel-primary">
            <div class="panel-heading">View All Customers Complaints Details
        </div>
            <div class="panel-body">
             <p id="notice"><%= notice %></p>
             <%= link_to 'New Complaint', new_customer_detail_path,  class: 'btn red' %>
                <b><%= link_to "Export CSV", customer_details_path(format: "csv"), class: 'btn orange' %></b> |
               <b><%= link_to "Excel", customer_details_path(format: "xls"),class: 'btn purple' %></b>
             <%#= link_to 'PDF File', customer_details_path(format: 'pdf') %>
                              <div class="graph">
                              <div class="tables">
                            
                                <table class="table table-bordered" style="overflow-y: auto;height: 300px;width:100%">
                <thead>
                  <tr>
                    <th>Bill No</th>
                    <th>Customer name</th>
                    <th>Date</th>
                    <th>Customer no</th>
                    <th>Mobile no</th>
                   <!--  <th>Model name</th>
                    <th>Accessory</th>
                    <th>Engineer Name</th> -->
                    <!-- th>Estimate Cost</th> -->
                    <!-- <th>Advanced Paid</th>
 -->                    <!-- <th>Balance Cost</th> -->
                    <th>Status</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                
                <tbody>
                  <% @customer_details.each do |customer_detail| %>
                    <tr>
                      <td><%= customer_detail.bill_no %></td>
                      <td><%= customer_detail.custome_name %></td>
                      <td><%= customer_detail.date %></td>
                      <td><%= customer_detail.customer_no %></td>
                      <td><%= customer_detail.mobile_no %></td>
                     <!--  <td><%= customer_detail.mobile_modal_name %></td>
                      <td><%= customer_detail.accessory %></td>
                      <td><%= customer_detail.employee.first_name if customer_detail.employee %></td> -->
                     <!--  <td><%= customer_detail.estimated_cost%></td> -->
                <!--       <td><%= customer_detail.advanced_paid %></td> -->
                      <!-- <td><%= customer_detail.balance_cost%></td> -->
                      <td><%= customer_detail.status%></td>
                      <td><%= link_to 'Show', customer_detail %></td>
                      <td><%= link_to 'Staus Update', edit_customer_detail_path(customer_detail) %></td>
                      <td><%= link_to 'Destroy', customer_detail, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
                      <td><%= link_to 'Add Items', inventory_item_path(customer_detail) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>


