<!DOCTYPE HTML>
<html>
<head>
<link href="/assets/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="/assets/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="/assets/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="/assets/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<script src="/assets/jquery-1.10.2.min.js"></script>
<!--clock init-->
</head> 
<body>
                <!--/login-->
                
                     <div class="error_page">
                        <!--/login-top-->
                        
                          <div class="error-top">
                          <h2 class="inner-tittle page">Shree Communication</h2>
                          <br><br>
                              <div class="login">
                            <h3 class="inner-tittle t-inner">Login</h3>
                               
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                   <div class="form">
                                   <div class="field">

                                            <%= f.text_field :email, value: "E-mail address", onfocus: "this.value = '';" ,onblur: "if (this.value == '') {this.value = 'E-mail address';}", input_type: "text" %>
                                          </div>

                                          <div class="field">
                                            <%= f.password_field :password,value: "Password", onfocus: "this.value = '';",onblur: "if (this.value == '') {this.value = 'Password';}" %>
                                          </div>

                                          <div class="new">
                                          <% if devise_mapping.rememberable? -%>
                                            <div class="field">
                                              <%= f.check_box :remember_me %>
                                              <%= f.label :remember_me %>
                                            </div>
                                          <% end -%>

                                          <div class="actions">
                                            <%= f.submit "Log in" , onclick: "myFunction()", value: "Login"  %>
                                          </div>
                                           <div class="clearfix">
                                        <% end %>
                                    
                                    <p class="sign">
                                     Do not have an account ? 
                                             <a> <%=  render "devise/shared/links" %></a>
                                            </p>
                                      <div class="clearfix"></div>
                                    </div>
                              
                            </div>

                            </div>
                            </div>
                             

                            
                          </div>
                          
                          
                        <!--//login-top-->
                       </div>
            
                        <!--//login-->
                        <!--footer section start-->
                    <div class="footer">
                       
                       <p>&copy 2016 QSET . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">QSEt.</a></p>
                    </div>
                  <!--footer section end-->
                  <!--/404-->
<!--js -->
<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="/assets/bootstrap.min.js"></script>
</body>
</html>