<div class="panel panel-primary">
            <div class="panel-heading">Inventory Type Details
        </div>
 <div class="panel-body">
 <p id="notice"><%= notice %></p>
<%= link_to "Add New Inventory Type",new_inventory_type_path, class: 'btn red'%>
      <div class="graph">
                              <div class="tables">
                            
                                <table class="table table-bordered" style="overflow-y: auto;height: 300px;width:100%">
                <thead>
    <tr>
    <th><b>InventoryType Id</b></th>
      <th><b>Name</b></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_types.each_with_index do |inventory_type,i| %>
      <tr>
        <td><%= i + 1%></td>
        <td><%= inventory_type.name %></td>
        <td><%= link_to 'Show', inventory_type%></td>
        <td><%= link_to 'Edit', edit_inventory_type_path(inventory_type) %></td>
        <td><%= link_to 'Destroy', inventory_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
                                 </tbody>
</table>
</div>
</div>
</div>