     <div class="graph">
           <div class="tables">
             <table class="table table-bordered" style="overflow-y: auto;height: 300px;width:100%">
                <thead>
          <tr>
            <th>Part No</th>
            <th>Descrition Name</th>
            <th>Total Stock</th>
            <th>Transfer Item Qty</th>
            <th>Remark</th>
             <th>Assign</th>
            <th></th>
          </tr>
        </thead>
         
        <tbody>
   
          <tr>
           <td>
              <%= @inventory.part_no %></td>
            <td>
              <%= @inventory.description %></td>
             <td><%= @inventory.warehouse_stock_qty %></td>
            <td> <%= text_field_tag :transfer_item, params[:transfer_item], :required => true,class: 'form-control' %></td>
            <td> <%= text_field_tag :remark, params[:remark], :required => true,class: 'form-control' %></td>

             <td><%= check_box_tag "inventory", @inventory.id,false,class: 'check_box'%>Assign
            </td>
            </td>
          </tr>

        </tbody>
      </table>
    </div>